<%
#
# author: Matt Scaperoth <matthew@scaperoth.com>
# description: Generates a list of photos based on the 
# value passed to the render() function in views/search/by_tag.js.erb

%>
<% #make sure the photos exist
if !photos.nil? and !photos["photos"].nil?%>
	
	
	<% #if photos object exists, make sure something was returned 
	if photos["photos"]["total"].to_f == 0 %>
		<h3>Your search has returned no results</h3>
	<% else %>

		<% photos["photos"]["photo"].each do |photo| %>
				<%
					#{"id", "owner", "secret", "server", "farm", "title", "ispublic", "isfriend", "isfamily"}
					photo_info = SearchHelper.getPhotoInfo(photo["id"], photo["secret"])
				%>

				<% #get the flickr url of the photo from the API response 
				photo_url = photo_info["photo"]["urls"]["url"][0]["_content"].strip %>

				<% #generate an <img> tag using the flickr url builder 
				image_tag = image_tag("https://farm#{photo["farm"]}.staticflickr.com/#{photo["server"]}/#{photo["id"]}_#{photo["secret"]}_z.jpg") %>

				<!-- new grid item -->
				<div class="grid-item">

				<%= 
					#image_tag
					link_to image_tag, photo_url , :target=> "_blank" 
				%>
				</div><!-- end grid item -->
		<% end %> 
	<% end %> 
<% end %> 
